@model Star4Cast.ViewModels.ProfileManage.UserSocilaAddVM

<hr />
<fieldset id="@Model.SocialName">
    <label class="control-label" style="display:block;">
       @Model.PreUrl
        <strong>@Model.PostLabel</strong>
        <a href="@Model.HelpUrl" target="_blank" class="fa fa-question-circle-o" style="zoom:1.2;"></a>
    </label>
    <a style="font-size: 45px; margin-top: -4px; vertical-align: middle;" class="@Model.IconClass"></a>
   
    <input asp-for="@Model.SocialUserName" type="text" value="@Model.SocialUserName" maxlength="199" size="56" placeholder="@Model.PostLabel" class="theme-texbox-custom" style="width:45%;" />
    <input asp-for="@Model.UserSocialAddressId" value="@Model.UserSocialAddressId" type="hidden"/> 
    <input asp-for="@Model.SocialName" value="@Model.SocialName" type="hidden"/>
    <input asp-for="@Model.Status" value="@Model.Status" type="hidden" />
    <input asp-for="@Model.PostUrl" value="@Model.PostUrl" type="hidden"/>
    <input asp-for="@Model.PostLabel" value="@Model.PostLabel" type="hidden"/>
    <input asp-for="@Model.PreUrl" value="@Model.PreUrl" type="hidden"/>
    <input asp-for="@Model.HelpUrl" value="@Model.HelpUrl" type="hidden"/>
    <input asp-for="@Model.IconClass" value="@Model.IconClass" type="hidden"/>
</fieldset>

